/* ViewPdf.css */

/* Estilos para el contenedor principal del PDF */
.container {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  /* Estilos para el título */
  .title {
    font-size: 24px;
    font-weight: bold;
    color: #009688;
    text-align: center;
    margin-bottom: 10px;
  }
  
  /* Estilos para el contenido */
  .content {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    text-align: left;
  }
  
  /* Estilos para la información */
  .info {
    font-size: 12px;
    color: #555;
    margin-bottom: 3px;
    text-align: left;
  }